<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="oAuthConsumerKey" value="Key"/>
    <add key="oAuthConsumerSecret" value="Secret"/>
    <add key="oAuthUrl" value="https://api.twitter.com/oauth2/token"/>
    <add key="timelineFormat" value="https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name={0}&amp;include_rts={1}&amp;exclude_replies={2}&amp;count={3}"/>
    <add key="screenname" value="screenname"/>
    <add key="include_rts" value="1"/>
    <add key="exclude_replies" value="0"/>
    <add key="count" value="5"/>
		<add key="searchFormat" value="https://api.twitter.com/1.1/search/tweets.json?q={0}"/>
		<add key="searchQuery" value="%23test"/>
  </appSettings>
</configuration>
