@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div id="results" />
<script type="text/javascript">
    $(function () {

        $.ajax({
            url: '@Url.Action("GetTwitterFeed")',
            data: {},
            type: "POST",
            contentType: "application/json",
            dataType: "json",
            timeout: 10000,
            success: function (result) {
                if (result.hasOwnProperty("d")) {
                    bindTweets(result.d);
                }
                else {
                    bindTweets(result);
                }

            },
            error: function (xhr, status) {
                alert(status + " - " + xhr.responseText);
            }
        });

        function bindTweets(result) {
            var json = $.parseJSON(result);
            for (var i = 0; i < json.length; i++) {
                $("#results").append('<div class="tweet"><p><span><strong> - ' + json[i].created_at.substring(0, 16) + '</span></strong></span><br/>' + twttr.txt.autoLink(json[i].text) + '</p>');
                try {
                    for (var j = 0; j < json[i].entities.media.length; j++) {
                        $("#results").append('<a href="' + json[i].entities.media[j].media_url + '" ><img src="' + json[i].entities.media[j].media_url + ':thumb" /></a>');
                    }

                } catch (e) {
                }
            }
        }

    });
    </script>