@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
@Scripts.Render("~/bundles/js")
<meta charset="utf-8" />
<title>@ViewBag.Title</title>
</head>
<body>
@RenderBody()
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42437336-1', 'gridhosted.co.uk');
  ga('send', 'pageview');

</script>
</body>
</html>
